<h1><%= @history.id %></h1>

<table>
	<tr>Id:<%= @history.id %></tr>
	<td><strong>Created at:</strong><%= @history.created_at %></td>
	<td><strong>Updated at:</strong><%= @history.updated_at %></td>

	</table>



