html{
	//background-image: url(image-path('black_pattern_2.jpg'));
	background-repeat: repeat;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

table, th,tr, td{
	outline: 1px solid black;

}

tr{
	height: 50px;
}

th{
	background-color: #ddd;
}

h1{
	text-align: center;
}

div.alert{
  padding:10px;
  text-align: center;
}
.alert.flash.error{
  background-color: red;
  color: white;
}
div.flash.success {  
  background-color: green;
  color: white; 
  }