html{
	background-image: url(image-path('black_pattern_2.jpg'));
	background-repeat: repeat;
  background-attachment: fixed;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

table, th,tr, td{
	outline: 1px solid black;

}

tr{
	height: 50px;
}

th{
	background-color: #ddd;
}

h1{
	text-align: center;
}


/************
    Input Boxes
*************/

input,
textarea {
  font-size: 1em;
  color: black;
  font-weight: 300; 
  width: 100%;
  margin: auto;
  border: none;
  height: auto;
  padding: 15px;
  outline: 0;
  margin-bottom: 1.2em;
  border-radius: .3em;
  border-bottom: 3px solid rgba(0,0,0, 0.05);
  background-color: #e8eeef;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}
form{
  width: 420px;
  margin: auto;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
  background: #f4f7f8;
  box-sizing: content-box;
}

.content{
  max-width: 980px;
  margin: auto;
}

input[type="submit"]{
  display: inline-block;
  box-shadow: 0 1px 0 rgba(0,0,0,.05) inset;
  box-shadow: 1px 2px 0 rgba(0,0,0,.1);
  border: 2px solid #e73838;
  min-width: 100px;
  width: auto;
  color: #e73838;
  transition: .2s;

}
input[type="submit"]:hover{
  background-color: #e73838;
  color: white;
}

#other-options{
  display: inline-block;
  float: right;
  padding-top: 5px;
}



/************
    NAV
*************/
div.nav{
    background-color: rgba(255, 255,255, .6);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin-top: 20px;

}
  #nav-options{
    width: 200px;
    display: block;
    margin: 10px auto 0;
  }

  #nav-options a{
    color: white;
    text-decoration: none;
    padding: 10px 24px;
  }
  #nav-options a:hover{
    color: black !important;
    font-weight: bolder;
  }

  #logout, #home{
    display: inline-block;
    width: 99px;
    padding: 10px 0;
    transition: .2s;
    border: 2px solid white;
    }

  #logout{
    border-radius: 0 20px 20px 0;
    border-left: 0px;
    margin-left: -20px;
  }

  #home{
    border-radius: 20px 0 0px 20px;
    margin-right: -20px;
    border-right: 0px;
  }

  #logout:hover,
  #home:hover{
    background-color: white;
  }

  
  div.nav #logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    text-align: center;
    padding: 10px 0 0 0;
  }
    
    #logo a{
      
      text-decoration: none;
      color: white;
      font-weight: bolder;

    }


/**************
  FLASH ALERTS
  **************/

div.alert{
  padding:10px;
  text-align: center;
}

div.flash.error{
  background-color: red;
  color: white;
}

div.flash.success {  
  background-color: green;
  color: white; 
  }

div.flash.notice {  
  background-color: dodgerblue;
  color: white; 
  }
.flash{
  margin-top: -9px;
}


.field_with_errors input{
  outline: .8px solid red;
  background-color: rgba(255, 0, 0, 0.3);
  
}

#error-explanation{
  color: red;
}



/******************************************
  Media Queries
  ******************************************/

@media screen and (min-width: 940px){
}


@media screen and (min-width: 660px){
}

@media screen and (max-width: 480px){
  form{
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }

  #new-workout img{
    width: 70px !important;
    bottom: 8px !important;
    right: 18px !important;

  }
}




